In [2]:
import pandas as pd
import numpy as np

In [131]:
print("Handling missing data..........")

df = pd.DataFrame(np.random.randn(5,3),index=["a","c","e","f","h"],columns=["one","two","three"])
df

Handling missing data..........

        one       two     three
a -1.877044 -2.052014  0.395080
c -0.665908  1.071958 -1.269574
e  1.298740  0.717615  0.171641
f -1.710815  1.142764  0.153176
h -0.136322  0.626133 -1.478891

In [132]:
df["four"] = "bar"
df["five"] = df["one"] > 0
print(df)

        one       two     three four   five
a -1.877044 -2.052014  0.395080  bar  False
c -0.665908  1.071958 -1.269574  bar  False
e  1.298740  0.717615  0.171641  bar   True
f -1.710815  1.142764  0.153176  bar  False
h -0.136322  0.626133 -1.478891  bar  False

In [136]:
df2 = df.reindex(["a","b","c","d","e","f","g","h"])

df2["one"]
print(pd.isna(df2["one"]))
print(type(np.nan))

# important point is in pandas and numpy np.nan != np.nan
# it treat None as np.nan

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool
<class 'float'>

In [138]:
print("DateTimes")
df3 = df.copy();
df3["timestamp"] = pd.Timestamp("2023-10-11")
df3

DateTimes

        one       two     three four   five  timestamp
a -1.877044 -2.052014  0.395080  bar  False 2023-10-11
c -0.665908  1.071958 -1.269574  bar  False 2023-10-11
e  1.298740  0.717615  0.171641  bar   True 2023-10-11
f -1.710815  1.142764  0.153176  bar  False 2023-10-11
h -0.136322  0.626133 -1.478891  bar  False 2023-10-11

In [140]:
df3.loc[["a","c","h"],["one","timestamp"]] = np.nan
df3

        one       two     three four   five  timestamp
a       NaN -2.052014  0.395080  bar  False        NaT
c       NaN  1.071958 -1.269574  bar  False        NaT
e  1.298740  0.717615  0.171641  bar   True 2023-10-11
f -1.710815  1.142764  0.153176  bar  False 2023-10-11
h       NaN  0.626133 -1.478891  bar  False        NaT

In [141]:
df3.dtypes.value_counts()

float64          3
object           1
bool             1
datetime64[s]    1
Name: count, dtype: int64

In [ ]:
# inserting the missing data
# to -be continue

In [157]:
series = pd.Series(np.random.randn(5),index=["A","B","C","D","F"])
print("calculating the mean")
print(series)
print(series["A"])
series.mean()

calculating the mean
A    0.524498
B   -0.704489
C    0.031172
D    0.381868
F   -0.445882
dtype: float64
0.5244981234166717

-0.04256647757607285

In [262]:
print("Mean of a Data Frame ......")
times = pd.date_range(start="2023/10/01",periods=5)
df4 = pd.DataFrame(np.random.rand(5,1),index=times)
print(df4)
print("\n")
mean = 0
for item in df4.values:
    for k in item:
        mean += k

mean = mean / 5
print(mean)
print(df4.mean(axis=1))
print("Mean of columns = \n",df4.mean(axis=0))
print("mean of index 0 \n" , df4[0]["2023-10-01"] % mean)

Mean of a Data Frame ......
                   0
2023-10-01  0.569183
2023-10-02  0.794629
2023-10-03  0.245823
2023-10-04  0.850611
2023-10-05  0.773508


0.6467510443534056
2023-10-01    0.569183
2023-10-02    0.794629
2023-10-03    0.245823
2023-10-04    0.850611
2023-10-05    0.773508
Freq: D, dtype: float64
Mean of columns =
 0    0.646751
dtype: float64
mean of index 0
 0.5691834406655207

In [255]:
print(df4.mean(axis=1))

2023-10-01    0.209887
2023-10-02    0.858205
2023-10-03    0.083734
2023-10-04    0.425860
2023-10-05    0.609628
Freq: D, dtype: float64

In [269]:
s  = pd.Series([1,3,5,np.nan,6],index=times).shift(2)
print("After Shifting\n\r",s)
print("Befor shifting = \n",s.shift(-2))

After Shifting
 2023-10-01    NaN
2023-10-02    NaN
2023-10-03    1.0
2023-10-04    3.0
2023-10-05    5.0
Freq: D, dtype: float64
Befor shifting =
 2023-10-01    1.0
2023-10-02    3.0
2023-10-03    5.0
2023-10-04    NaN
2023-10-05    NaN
Freq: D, dtype: float64

In [271]:
print(df4.sub(s,axis="index"))

                   0
2023-10-01       NaN
2023-10-02       NaN
2023-10-03 -0.754177
2023-10-04 -2.149389
2023-10-05 -4.226492

In [277]:
# Some user Defined Functions for broadcasting

# df.agg
# df.transform
print("Before applying any functions")
print(df4)
print('After..')
print(df4.agg(lambda x:x*2,axis=1))

print("By Using DataFrame.Transform")

print(df4.transform(lambda x: x * 101.2))

Before applying any functions
                   0
2023-10-01  0.569183
2023-10-02  0.794629
2023-10-03  0.245823
2023-10-04  0.850611
2023-10-05  0.773508
After..
                   0
2023-10-01  1.138367
2023-10-02  1.589258
2023-10-03  0.491647
2023-10-04  1.701223
2023-10-05  1.547016
By Using DataFrame.Transform
                    0
2023-10-01  57.601364
2023-10-02  80.416480
2023-10-03  24.877320
2023-10-04  86.081879
2023-10-05  78.278985

In [279]:
print("String Method")
string_series = pd.Series(["A","B","C","Aaba","Baca",np.nan,"CABA","dog","cat"])
print(string_series)
# String Methods
string_series.str.lower()

String Method
0       A
1       B
2       C
3    Aaba
4    Baca
5     NaN
6    CABA
7     dog
8     cat
dtype: object

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [280]:
rand_df = pd.DataFrame(np.random.randn(10,4))
rand_df

          0         1         2         3
0  1.179324 -0.463558  0.314113 -1.515605
1  0.875296 -1.727954 -1.982956  0.963913
2  0.360726 -0.285052  0.157286  0.095759
3  0.080159  1.064865  1.248440  0.477292
4 -0.707209  0.762266 -0.507432  0.378473
5  0.528190  0.349823 -0.661517 -0.313104
6 -0.903000 -1.666512 -0.219321  1.162261
7  0.521245 -0.796316 -1.458256 -2.087098
8 -0.310846 -0.924013  0.097872 -0.467239
9 -1.463043  1.053732  0.665903  0.625595

In [282]:
pieces = [rand_df[:3],rand_df[3:7],rand_df[7:]]
pieces

[          0         1         2         3
 0  1.179324 -0.463558  0.314113 -1.515605
 1  0.875296 -1.727954 -1.982956  0.963913
 2  0.360726 -0.285052  0.157286  0.095759,
           0         1         2         3
 3  0.080159  1.064865  1.248440  0.477292
 4 -0.707209  0.762266 -0.507432  0.378473
 5  0.528190  0.349823 -0.661517 -0.313104
 6 -0.903000 -1.666512 -0.219321  1.162261,
           0         1         2         3
 7  0.521245 -0.796316 -1.458256 -2.087098
 8 -0.310846 -0.924013  0.097872 -0.467239
 9 -1.463043  1.053732  0.665903  0.625595]

In [283]:
print("Concatination")
pd.concat(pieces)

Concatination

          0         1         2         3
0  1.179324 -0.463558  0.314113 -1.515605
1  0.875296 -1.727954 -1.982956  0.963913
2  0.360726 -0.285052  0.157286  0.095759
3  0.080159  1.064865  1.248440  0.477292
4 -0.707209  0.762266 -0.507432  0.378473
5  0.528190  0.349823 -0.661517 -0.313104
6 -0.903000 -1.666512 -0.219321  1.162261
7  0.521245 -0.796316 -1.458256 -2.087098
8 -0.310846 -0.924013  0.097872 -0.467239
9 -1.463043  1.053732  0.665903  0.625595

In [289]:
print("joining")

left = pd.DataFrame({"key":["foo","bar"],"lval":[1,2]})
right = pd.DataFrame({"key": ["foo", "bar"], "rval": [4, 5]})
print(left)
print(right)
pd.merge(left,right,on="key")

joining
   key  lval
0  foo     1
1  bar     2
   key  rval
0  foo     4
1  bar     5

   key  lval  rval
0  foo     1     4
1  bar     2     5